;; shadow-cljs configuration
{:source-paths
    ["src"]

    :dependencies
    []
    
    :dev-http {8080 "resources/public"}
    :builds
        {:frontend
            {:target :browser
            :output-dir "resources/public"
            :modules {:main {:init-fn my-2048.core/main}}
            ;; :compiler-options {:output-feature-set :bare-minimum}
        }}}
