body {
    overscroll-behavior-y: contain;
    background-color: #4d4c4c;
}

#game { 
    border: 1px solid black; 
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.v-bar { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h-bar, #header { 
    display: flex;
    /* align-items: center; */
}

.h-bar > div, .v-bar > div {
    background-color: #f1f1f1;
    margin: 1px;
    padding: 1px;
    font-size: 15px;
}

#game-options , #menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;    
}

#header {
    align-self: center;
}