/* some style */
#game { 
    border: 1px solid black; 
}

#app { 
    display: flex;
    flex-flow: column ;
    align-items: center;
}

body {
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
}